@media screen and (max-width: 1600px) {
  aside.perso {
    display: none;
  }
}

@media screen and (max-width: 1230px) {

	.popup-content h3:before {
		display: none;
	}	

}


 @media screen and (max-width: 1000px) {
 	aside.index {
 		display: none;
 	}
 	aside.astuces {
 		display: none;
 	}
 	body, footer {
 			margin-left: 0%;
			margin-right: 0%;
 	}

 	section {
 		width: 100%;
 		margin-right: 0%;
 		margin-left: 0%;
 	}

 }
 @media screen and (min-width: 700px) {
 	nav.mobile {
 		display : none;
 	}

  article {
    margin: 0%;
    padding: 0%;
  }

  section {
    margin : 0%;
    padding: 0%;
  }

 }
 @media screen and (max-width: 700px) {
 	nav.web {
 		display : none;
 	}
 	table {
 		margin: 0em;
 	}

 	td {
 		padding : 0em;
 		font-size: 70%;
 	}

 	h1 {
		font-size: 42px;
	}
 }


@media screen and (max-width: 480px) {

	h1 {
		font-size: 32px;
	}

	.popup-content h3 {
		font-size: 2em;
	}

	.close {
		right: 1px;
		top: 1px;
	}

}

