@media screen and (max-width: 1600px) {
  aside.perso {
    display: none;
  }
}
 @media screen and (max-width: 1000px) {
 	aside.index {
 		display: none;
 	}
 	aside.astuces {
 		display: none;
 	}
 	aside.items {
 		display: none;
 	}
 	body, footer {
 			margin-left: 0%;
			margin-right: 0%;
 	}

 }
 @media screen and (min-width: 700px) {
 	nav.mobile {
 		display : none;
 	}
 }
 @media screen and (max-width: 700px) {
 	nav.web {
 		display : none;
 	}
 }