@font-face {
	font-family: FiraSans;
	src : url("FiraSans.otf");
}

html {
	color : lightgray;
	background-color: rgba(0, 0, 0, 0.88);
	font-family: FiraSans, serif;
}

body {
	/*font-family: sans-serif;*/
	font-family: FiraSans, serif;
    background-color: #111;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 60px;
}

header {
	background: url("../img/fondbanniere.jpeg") repeat fixed 0% 0% transparent;
	text-align: center;
}

hr.head {
	margin: 0;
}
nav {
	margin-top: 0;
	text-align: center;
	font-size: 150%;
	background-color: #222;
}

article {
    padding: 1%;
    padding-bottom: 10%;
}

section {
	/*float: left;*/
	margin-left: 2%;
	width: 70%;
	height: 70%;
}

form p {
	font-size: 120%;
}

form {
	text-align: center;
}

.col1 {
	
	display: inline-block;
	margin: 2em;
}

.col2 {
	
	display: inline-block;
	margin : 2em;
}

.col3 {
	display: inline-block;
	margin-bottom: 10px;
}

input {
	margin-top: 1em;
	box-shadow: 1px 1px 12px #444;
	width: 15em;
	height: 2em;
}

.envoi {
	width: 10em;
	height: 4em;
	font-size: 120%;
}

aside {
	float: right;
	width: 20%;
	height: 20%;
	margin-top: 20%;
	/*margin-left: 80%;*/
	background-color: #222;
	padding: 2%;
	/*position: fixed;*/
	border-left: thick solid lightgray;
	font-size: 120%;
	box-shadow: 1px 1px 5px #555;
}

a {
	color :lightblue;
	text-decoration: none;
}

a:hover {
	color : pink;
}

#navigation li {
	display : inline;
	padding: 1em;
}

table {
	margin: 1em;
	text-align: center;
	background-color: #222;
}

td {
	padding: 1em;
	font-size: 110%;
}

footer {
	text-align: center;
	position:fixed;
    height:30px;
    background: url("../img/fondbanniere.jpeg") repeat fixed 0% 0% transparent; 
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding: 5px;

}

.galerie {
	display: inline;
}
.galerie img {
	display: inline-block;
	width: 3em;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}

#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: FiraSans, serif;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}

#menu-accordeon li li:hover {
   background: #6E0B14;
}

#menu-accordeon li:hover li {
  max-height: 15em;
}

.galerie li {
	display: inline-block;
	width: 3em;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}
