@font-face {
	font-family: FiraSans;
	src : url("FiraSans.otf");
}

html {
	color : lightgray;
	background-color: #111;
	font-family: FiraSans, serif;
}



body {
	/*font-family: sans-serif;*/
	font-family: FiraSans, serif;

}

header {
	 background: url("../img/fondbanniere.jpeg") repeat fixed 0% 0% transparent;
	text-align: center;
}

nav {
	text-align: center;
	font-size: 150%;
	background-color: #000000;
}

section {
	/*float: left;*/
	margin-left: 2%;
	width: 70%;
	height: 70%;
}

aside {
	float: right;
	width: 20%;
	height: 20%;
	margin-top: 20%;
	/*margin-left: 80%;*/
	background-color: #222;
	padding: 2%;
	/*position: fixed;*/
	border-left: thick solid lightgray;
	font-size: 120%;
}

a {
	color :lightblue;
	text-decoration: none;
}

a:hover {
	color : lightgreen;
}

a:visited {
	color : pink;
}

#navigation li {
	display : inline;
	padding: 1em;
}

table {
	margin: 1em;
	text-align: center;
	background-color: #222;
}

td {
	padding: 1em;
	font-size: 110%;
}


footer {
	text-align: center;
	float: 
}